{%- if settings.amp_related_show_collection -%}
  {% assign cList = blank %}
  {% assign cListId = blank %}
  {% assign currentProductId = product.id %}
  {%- for collection in product.collections -%}
      {%- comment %}<locksmith:c151>{% endcomment -%}
        {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: collection, subject_parent: product, variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
      {%- comment %}</locksmith:c151>{% endcomment -%}
      {%- for product in collections[collection.handle].products -%}
        {%- comment %}<locksmith:b912>{% endcomment -%}
          {%- capture var %}{% render 'locksmith-variables', scope: 'subject', subject: product, subject_parent: collections[collection.handle], variable: 'transparent' %}{% endcapture %}{% if var == "true" %}{% else %}{% continue %}{% endif -%}
        {%- comment %}</locksmith:b912>{% endcomment -%}
        {%- unless cListId contains product.id or product.id == currentProductId -%}
          {%- assign cList = cList | append: product.handle | append: ',' -%}
          {%- assign cListId = cListId | append: product.id | append: ',' -%}
        {% endunless %}
      {%- endfor -%}
  {%- endfor -%}
  {%- unless cList == blank -%}
    <div class="container cdzamp-related-product-list mb-4">
      <div class="p-3" style="box-shadow:0 1px 3px #e1e1e1; border-radius: 5px; background-color: #fff">
        <div class="cdz-block-title text-left"><h2 class="b-title second_color">{{settings.amp_related_title}}</h2></div>
        <div class="cdzamp-product-list">
         <ul class="cdzamp-items list-unstyled m-0">
            {% assign handles = cList | split: ',' %}
            {%- for handle in handles limit: settings.amp_related_products_count -%}
              {%- assign productRelated = all_products[handle] -%}
              {% include 'amp-listItem' with product: productRelated %}
            {%- endfor -%}
        </ul>
      </div>
      </div>
    </div>
  {%- endunless -%}
{% else %}
  {%- unless product.metafields.codazon.cdz_related_product == blank -%}
    {%- assign relatedHandles = product.metafields.codazon.cdz_related_product | replace : ' ', '' | split: ',' -%}
    {%- assign handles = blank -%}
    {%- capture productHandles -%}
      {%- for rtHandle in relatedHandles -%}
        {%- if all_products[rtHandle] != blank and rtHandle != product.handle -%}
          {{rtHandle}}{%- if forloop.last != true -%},{%- endif -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}
    {%- assign handles = productHandles | split: ',' -%}
    {%- unless handles == blank -%}
    <div class="container cdzamp-related-product-list mb-4">
      <div class="p-3" style="box-shadow:0 1px 3px #e1e1e1; border-radius: 5px; background-color: #fff">
        <div class="cdz-block-title text-left"><h2 class="b-title second_color">{{settings.amp_related_title}}</h2></div>
        <div class="cdzamp-product-list">
         <ul class="cdzamp-items list-unstyled m-0">
            {%- for handle in handles limit: settings.amp_upsell_products_count -%}
              {%- assign productRelated = all_products[handle] -%}
              {% include 'amp-listItem' with product: productRelated %}
            {%- endfor -%}
        </ul>
      </div>
      </div>
    </div>
    {%- endunless -%}
  {%- endunless -%}
  
{% endif %}
