{% if settings.show_multiple_currencies %}

{% assign codes = 'USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,ILS,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK' | split: ',' %}
{% assign supported_codes = settings.supported_currencies | split: ' ' %}

<div class="cdz-dropdown cdz-currency" data-curencies='cdz-curencies' data-role="cdz-dropdown" data-cdzwidget='{"codazon.dropDown" : {"show" : "no"}, "codazon.cdzDdCurrencies" : {"curCurrency" : "{{ shop.currency }}"}}'>
	<a class="cdz-dd-trigger currency-active" data-role="cdz-dd-trigger" href="javascript:void(0)">
		<span class="currency-active-text" data-role="cdz-currency-active">{{shop.currency}}</span>
	</a>
	<ul class="cdz-dd-content cdz-dd-list" data-role="cdz-dd-content">
		{% for code in supported_codes %}
		{% if codes contains code %}
		<li class="item {%if code == shop.currency %} active {% endif %}" data-curency-code="{{ code }}"><a href="javascript:void(0)">{{ code }}</a></li>
		{% endif %}
	  {% endfor %}
	  </ul>
</div>

{% endif %}