<div class="mb-toggle-panel">
    <div class="codazon-dynamic-tabs" data-cdzwidget='{"codazon.builDynamicTabs" : {"show_ddmobile" : false}}'>
		<ul class="cdztab no_ddmobile">
			<li class="tab-item active has-content" data-itemtab="mb-menu-tab">
				<a class="tab-title" href="#mb-menu-tab">{{ 'general.toogle-mobi.title-menu' | t }}</a>
			</li>
			<li class="tab-item has-content" data-itemtab="mb-account-tab">
				<a class="tab-title" href="#mb-account-tab">{{ 'general.toogle-mobi.title-setting' | t }}</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-content-item active" id="mb-menu-tab">
				<div id="mobi_header-nav" class="mb-header-nav"></div>
			</div>
			<div class="tab-content-item" id="mb-account-tab">
				 <div id="mobi_top-links" class="mb-top-links"></div>
			</div>
		</div>
    </div>
</div>