<div class="cdz-popup-area" id="cdz-popup-area">
	<div class="cdz-popup-area-inner" id="cdz-popup-area-inner">
		<div class="cdz-backface" data-role="cdz-close-cdzpopup" data-item="all"></div>
	</div>
</div>