<script id="qs-tmpl" type="text/tmpl-script">
<div class="quickshop-wrapper">
<div class="quickshop-product-media" style="width:40%; float: left">
<% if (product.images.length > 0) { %>
	<img src="<%= product.images[0].src %>" id="ProductPhotoImg" style="width: 100%">
<% } %>
<ul class="view-more cdzowlslider owl-carousel owl-theme" data-cdzwidget = '{"codazon.owlSlider" : {"msg": "OK"}}'>
<% _.each(product.images, function(image) { %>
	<li style="width: 60px"><img src="<%= image.src %>" id="ProductPhotoImg" style="width: 100%"></li>
<% }); %>
</ul>
</div>
<div class="quickshop-main" style="width:60%; float: left">
	<div class="product-info-main">
		<div class="page-title-wrapper product quickshop-title">
			<h1 class="page-title"><span><%= product.title %></span></h1>
		</div>
		<div class="price">
			<span class="money"><%= product.variants[0].price %></span>
		</div>
	</div>
</div>
</div>
</script>



