<div class="mb-bottom-toolbar-wrapper">
<div class="mb-bottom-toolbar d-md-none" id="mb-bottom-toolbar">
	<div class="mb-toolbar-content">
		<div class="mb-search-content" data-role="popup-search-content">
		  {% include 'search-bar' with "popup" %}
		</div>
	</div>
	<div class="mb-toolbar-inner row">
		<div class="btn-groups col-9">
			<div class="owl-carousel" id="btn-group-slider" data-role="group-slider">
				<div class="button-group" id="tool-btn-group-1" data-role="group-item">
					<ul class="menu-items items row">
						<li class="item col-3 btn-home">
							<a class="" href="/">
								<i class="fa fa-home"></i>
							</a>
						</li>
						<li class="item col-3 btn-search">
							<a class="mb-search-btn" data-action="mb-search-btn" href="javascript:void(0);" data-cdzwidget='{"codazon.cdzToogleSearch" : {"wrapper" : "mb-bottom-toolbar"}}'>
								<i class="fa fa-search"></i>
							</a>
						</li>
						<li class="item col-3 js-footer-cart btn-cart" id="mb-bottom-toolbar-cart">
							<a class="cart-trigger cdz-top-link" href="javascript:void(0);"  data-role="cdz-sidebar-trigger" data-action="cdz-addMiniCart-trigger"  data-sidebar="utilies-addMiniCart">
								<i class="fa fa-shopping-cart"></i>
								<span class="items-total">{{ cart.item_count }}</span>
							</a>
							{%- if settings.ajaxCartStyle != '03' -%}
								<div data-role="utilies-section" class="utilies-section utilies-addMiniCart" id="utilies-addMiniCart" data-cdzwidget='{"codazon.sideBar" : {"side" : "right", "section" : "addMiniCart"}}'>
									{% include 'sidebar-addMiniCart' %}
								 </div>
							{%- endif -%}
						</li>
						<li class="item col-3 btn-account">
							<a class="" href="/account">
								<i class="fa fa-user-o"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="button-group" id="tool-btn-group-2" data-role="group-item">
					<ul class="menu-items items row">
						<li class="item col-3 btn-contact">
							<a class="" href="/pages/contact-us">
								<i class="fa fa-map-marker"></i>
							</a>
						</li>
						<li class="item col-3 btn-wishlist">
							<a class="mbwishlist-trigger cdz-top-link" id="mb-wishlist-trigger" href="javascript:void(0);"  data-role="cdz-sidebar-trigger" data-action="cdz-mbwishlist-trigger"  data-sidebar="utilies-mbwishlist">
								<i class="fa fa-heart-o"></i>
							</a>
						</li>
						<li class="item col-3 btn-compare">
							<a class="" href="/?view=compare">
								<i class="fa fa-random"></i>
							</a>
						</li>
						<li class="item col-3 btn-menu">
							<a class="" href="javascript:void(0);" data-role="cdz-sidebar-trigger" data-sidebar="utilies-mobi-panel-container">
								<i class="fa fa-navicon"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-3 group-switch text-center">
			<button data-role="switch-group" class="primary md-fab md-mini md-ink-ripple switcher" href="javascript:void(0);">
                <span class="fa fa-circle-o dot"></span>
                <span class="fa fa-circle-o dot"></span>
                <span class="fa fa-circle-o dot"></span>
                <span class="times"></span>
            </button>
		</div>
	</div>
</div>
<div data-role="utilies-section" class="utilies-section utilies-mbwishlist d-md-none" id="utilies-mbwishlist" data-cdzwidget='{"codazon.sideBar" : {"side" : "right", "section" : "mbwishlist"}}'>
	<div class="mbwishlist-wrapper" id="mobi_mbwishlist"></div>
</div>
</div>