{% comment %}
//Banner Style 01 store01
<div class="container">
<div class="row">
<div class="col-12">
<div class="cdz-banner shine-effect banner-style01">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/img_01_medium.jpg?v=1564381075"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/img_01.jpg?v=1564381075"
data-sizes="auto">
</a>
</div>
</div>
</div>
</div>
</div>

//Banner Style 02 store03
<div class="container">
<div class="row">
<div class="col-6">
<div class="cdz-banner banner-style02 effect_style02 cdz-text-inside-wrap align-items-center">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_compact.jpg?v=1565836468"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_medium.jpg?v=1565836468 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_large.jpg?v=1565836468 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_large.jpg?v=1565836468 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_grande.jpg?v=1565836468 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_1024x1024.jpg?v=1565836468 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_2048x2048.jpg?v=1565836468 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text cdz-text-inside cdz-text-position-insideMiddle text-center">
<div class="desc01 text-uppercase">Gift Cards</div>
<div class="desc-btn"><a href="#">Shop now</a></div>
</div>
</div>
</div>
<div class="col-6">
<div class="cdz-banner banner-style02 effect_style02 cdz-text-inside-wrap align-items-center">
<div class="cdz-banner-img">
<a title="Banner02" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_compact.jpg?v=1565836569"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_medium.jpg?v=1565836569 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_large.jpg?v=1565836569 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_large.jpg?v=1565836569 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_grande.jpg?v=1565836569 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_1024x1024.jpg?v=1565836569 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_2048x2048.jpg?v=1565836569 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text cdz-text-inside cdz-text-position-insideMiddle text-center">
<div class="desc01 text-uppercase">Mens Accessories</div>
<div class="desc-btn"><a href="#">Shop now</a></div>
</div>
</div>
</div>
</div>
</div>

//Banner Style 03 store05
<div class="container">
<div class="row no-gutters">
<div class="col-6 col-left">
<div class="cdz-banner banner-style03 effect_style07 cdz-text-inside-wrap align-items-start">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-01_compact.jpg?v=1565841667"
data-srcset=
"//cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-01_medium.jpg?v=1565841667 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-01_large.jpg?v=1565841667 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-01_large.jpg?v=1565841667 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_bannerr-01_grande.jpg?v=1565841667 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-01_1024x1024.jpg?v=1565841667 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-01_2048x2048.jpg?v=1565841667 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text cdz-text-inside cdz-text-position-insideTop text-right">
<div class="desc01">The best sellers</div>
</div>
</div>
<div class="cdz-banner banner-style03 effect_style07 cdz-text-inside-wrap align-items-start">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-02_compact.jpg?v=1565841735"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-02_medium.jpg?v=1565841735 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-02_large.jpg?v=1565841735 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-02_large.jpg?v=1565841735 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-02_grande.jpg?v=1565841735 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-02_1024x1024.jpg?v=1565841735 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-02_2048x2048.jpg?v=1565841735 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text cdz-text-inside cdz-text-position-insideTop text-left">
<div class="desc01">Latest & Greatest</div>
</div>
</div>
</div>
<div class="col-6 col-right">
<div class="cdz-banner banner-style03 effect_style03 cdz-text-inside-wrap align-items-start">
<div class="cdz-banner-img">
<a title="Banner02" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-03_compact.jpg?v=1565841847"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-03_medium.jpg?v=1565841847 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-03_large.jpg?v=1565841847 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-03_large.jpg?v=1565841847 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-03_grande.jpg?v=1565841847 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-03_1024x1024.jpg?v=1565841847 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store05_banner-03_2048x2048.jpg?v=1565841847 2048w"
data-sizes="auto">
</a>
</div>
</div>
</div>
</div>
</div>

//Banner Style 04 store06
<div class="container">
<div class="row">
<div class="col-4">
<div class="cdz-banner banner-style04 effect_style08 cdz-text-outside-wrap">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_compact.jpg?v=1565846333"
data-srcset=
"//cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_medium.jpg?v=1565846333 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_large.jpg?v=1565846333 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_large.jpg?v=1565846333 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_grande.jpg?v=1565846333 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_1024x1024.jpg?v=1565846333 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_2048x2048.jpg?v=1565846333 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text text-center">
<div class="desc01 text-uppercase">The trend shop</div>
<div class="text-uppercase text-link"><a href="#" class="">Discover >></a></div>
</div>
</div>
</div>
<div class="col-4">
<div class="cdz-banner banner-style04 effect_style08 cdz-text-outside-wrap">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_compact.jpg?v=1565846333"
data-srcset=
"//cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_medium.jpg?v=1565846333 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_large.jpg?v=1565846333 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_large.jpg?v=1565846333 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_grande.jpg?v=1565846333 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_1024x1024.jpg?v=1565846333 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-01_2048x2048.jpg?v=1565846333 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text text-center">
<div class="desc01 text-uppercase">On Instagram</div>
<div class="text-uppercase text-link"><a href="#" class="">Click here to follow us >></a></div>
</div>
</div>
</div>
<div class="col-4">
<div class="cdz-banner banner-style04 effect_style08 cdz-text-outside-wrap">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-03_compact.jpg?v=1565847449"
data-srcset=
"//cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-03_medium.jpg?v=1565847449 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-03_large.jpg?v=1565847449 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-03_large.jpg?v=1565847449 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-03_grande.jpg?v=1565847449 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-03_1024x1024.jpg?v=1565847449 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-03_2048x2048.jpg?v=1565847449 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text text-center">
<div class="desc01 text-uppercase">This just in</div>
<div class="text-uppercase text-link"><a href="#" class="">Show new Arrials >></a></div>
</div>
</div>
</div>
</div>
</div>

//Banner Style 05 store06
<div class="container">
<div class="row">
<div class="col-12">
<div class="cdz-banner banner-style05 effect_style04 cdz-text-inside-wrap align-items-end">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-04_compact.jpg?v=1565860554"
data-srcset=
"//cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-04_medium.jpg?v=1565860554 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-04_large.jpg?v=1565860554 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-04_large.jpg?v=1565860554 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-04_grande.jpg?v=1565860554 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-04_1024x1024.jpg?v=1565860554 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store06_home-banner-04_2048x2048.jpg?v=1565860554 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text text-center cdz-text-inside cdz-text-position-insideBottom  align-items-center">
<div class="desc01 text-uppercase">LAST DAYS OF SALE UP TO 70% OFF</div>
<div class="text-uppercase desc-btn"><a href="#">View More</a></div>
</div>
</div>
</div>
</div>
</div>

//Banner Style 06 store07 parallax
<div class="cdz-banner banner-style06 parallax-effect cdz-text-inside-wrap align-items-center" style="background-image: url(//burst.shopifycdn.com/photos/shopify/living-room-brick-wall_1728x.jpg);">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-8">
<div class="cdz-banner-text text-center cdz-text-inside cdz-text-position-insideMiddle">
<div class="desc01 text-uppercase">Living Room Ideas</div>
<div class="desc">From comfortable seating to smart living room storage, we've got all the living room furniture you need for creating your own space to gather. And we've got lots of living room ideas for putting it all together, too.</div>
</div>
</div>
</div>
</div>
</div>


//Banner Style 07 store08
<div class="container">
<div class="row">
<div class="col-6">
<div class="cdz-banner banner-style07 effect_style06 cdz-text-inside-wrap align-items-end">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_compact.jpg?v=1565836468"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_medium.jpg?v=1565836468 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_large.jpg?v=1565836468 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_large.jpg?v=1565836468 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_grande.jpg?v=1565836468 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_1024x1024.jpg?v=1565836468 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_2048x2048.jpg?v=1565836468 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text cdz-text-inside cdz-text-position-insideBottom text-center">
<div class="desc01">Vitamins & Supplements</div>
</div>
</div>
</div>
<div class="col-6">
<div class="cdz-banner banner-style07 effect_style06 cdz-text-inside-wrap align-items-end">
<div class="cdz-banner-img">
<a title="Banner02" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_compact.jpg?v=1565836569"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_medium.jpg?v=1565836569 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_large.jpg?v=1565836569 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_large.jpg?v=1565836569 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_grande.jpg?v=1565836569 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_1024x1024.jpg?v=1565836569 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_2048x2048.jpg?v=1565836569 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text cdz-text-inside cdz-text-position-insideBottom text-center">
<div class="desc01">Nutrition</div>
</div>
</div>
</div>
</div>
</div>

//Banner Style 08 store10
<div class="container">
<div class="row">
<div class="col-4">
<div class="cdz-banner banner-style08 effect_style09 cdz-text-inside-wrap align-items-end">
<div class="cdz-banner-img">
<a title="Banner01" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_compact.jpg?v=1565836468"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_medium.jpg?v=1565836468 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_large.jpg?v=1565836468 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_large.jpg?v=1565836468 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_grande.jpg?v=1565836468 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_1024x1024.jpg?v=1565836468 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-01_2048x2048.jpg?v=1565836468 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text cdz-text-inside cdz-text-position-insideBottom text-center">
<div class="desc01 text-uppercase">summer clothing</div>
<div class="desc02">Best collection 2018</div>
</div>
</div>
</div>
<div class="col-4">
<div class="cdz-banner banner-style08 effect_style07 cdz-text-inside-wrap align-items-end">
<div class="cdz-banner-img">
<a title="Banner02" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_compact.jpg?v=1565836569"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_medium.jpg?v=1565836569 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_large.jpg?v=1565836569 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_large.jpg?v=1565836569 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_grande.jpg?v=1565836569 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_1024x1024.jpg?v=1565836569 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_2048x2048.jpg?v=1565836569 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text cdz-text-inside cdz-text-position-insideBottom text-center">
<div class="desc01 text-uppercase">Free Shipping</div>
<div class="desc02">On orders over $75</div>
</div>
</div>
</div>
<div class="col-4">
<div class="cdz-banner banner-style08 effect_style07 cdz-text-inside-wrap align-items-end">
<div class="cdz-banner-img">
<a title="Banner02" href="products/example-t-shirt">
<img class="img-responsive lazyload" src="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_compact.jpg?v=1565836569"
data-srcset="//cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_medium.jpg?v=1565836569 180w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_large.jpg?v=1565836569 360w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_large.jpg?v=1565836569 470w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_grande.jpg?v=1565836569 600w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_1024x1024.jpg?v=1565836569 1060w, //cdn.shopify.com/s/files/1/0192/1181/2928/files/store02-banner-02_2048x2048.jpg?v=1565836569 2048w"
data-sizes="auto">
</a>
</div>
<div class="cdz-banner-text cdz-text-inside cdz-text-position-insideBottom text-center">
<div class="desc01 text-uppercase">the new in this week</div>
<div class="desc02">For Kids & Teens</div>
</div>
</div>
</div>
</div>
</div>
{% endcomment %}
{% assign banner_html = section.settings.banner_html %}
<div class="cdz-banner-wrapper space-lg" data-section-id="{{ section.id }}">
	<div class="container">
	  {% if section.settings.banner_heading != blank %}
	  <div class="row">
		  <div class="col-12">
			<div class="cdz-block-title">
				<p class="b-title h2"><span>{{ section.settings.banner_heading | escape }}</span></p>
			</div>
		  </div>
	  </div>
	  {% endif %}
	</div>
	{{ banner_html }}
</div>



{% schema %}
{
  "name": "Banner",
  "class": "index-section banner-section",
  "settings": [
    {
      "type": "text",
      "id": "banner_heading",
      "label": "Heading Text"
    },
	{
	  "type": "html",
	  "id": "banner_html",
	  "label": "Banner HTML",
	  "info": "Input your banner html. Go to http://document to see banner types"
	}
  ],
  "presets": [
    {
      "name": "Banner Section",
      "category": "Image"
    }
  ]
}
{% endschema %}
