/*break points*/
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: (#{$screen-sm-min - 1});/*767px*/
$screen-sm-max: (#{$screen-md-min - 1});/*991px*/
$screen-md-max: (#{$screen-lg-min - 1});/*1199px*/

$phonedown: 			"only screen and (max-width: #{$screen-xs-min})"; /*max-width:480px*/
$phone:             	"only screen and (max-width: #{$screen-xs-max})"; /*max-width:767px*/

$tablet_vertical:       "only screen and (min-width: #{$screen-sm-min})"; /*min-width:768px*/
$tablet_horizontal:	    "only screen and (min-width: #{$screen-md-min})"; /*min-width:992*/
$tablet_vertical_down:  "only screen and (max-width: #{$screen-sm-max})"; /*max-width:991*/
$tablet_strict:     	"only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max})"; 
						/*min-width:768px max-width:1199px */
$tablet-strict_small:   "only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})"; 
						/*min-width:768 max-width:991px */
$tablet-strict_large: 	"only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
						/*min-width:992px max-width:1199px*/

$desktop:           	"only screen and (min-width: #{$screen-lg-min})"; /*min-width: 1200px*/
$desktop_down:			"only screen and (max-width: #{$screen-md-max})"; /*max-width: 1199px*/
/*================ Global | Sass Variants ================*/
$btn_default_text: ;
$btn_default_border: ;
$btn_default_background: ;
$btn_primary_text:;
$btn_primary_border: ;
$btn_primary_background: ;
$btn_normal_text: ;
$btn_normal_border: ;
$btn_normal_background: ;
$btn_hover_text: ;
$btn_hover_border: ;
$btn_hover_background: ;
$main_background:;
$main_text: ;
$main_hover_text: ;
$main_text_normal: ;
$main_text_normal2: ;
$main_title_border:;
$main_title_text: ;
$main_box_background: ;
$main_box_border: ;
$main_box_radius: ;
$main_box_shadow: ;
$main_hover_text_box: ;
$main_block_background: ;
$main_block_title_background:;
$main_block_title_text:;
$main_border:;
$main_price_text:;
$main_productname_text:;
$main_tab_background:;
$main_tab_border:;
$main_tab_hover_background:;
$main_tab_hover_border:;
$main_tab_hover_text:;
$main_tab_text:;
$main_input_background:;
$main_input_border:;
$main_input_shadow:;
$main_input_text:;

$btn_radius: ;
/*================ Global | Fonts Variants ================*/









$defaultFont: ;
$h1Font: ;
$h2Font: ;
$h3Font: ;
$h4Font: ;
$h5Font: ;
$h6Font: ;
$specialFont: ;
$noteFont: ;

/*================ Global | Sass Mixins ================*/
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1;
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}
/*=================== Function ======================*/
@mixin default_font(){
	font: $defaultFont;
}
@mixin h1_font(){
	font: $h1Font;
	color: $main_title_text;
}
@mixin h2_font(){
	font: $h2Font;
	color: $main_title_text;
}
@mixin h3_font(){
	font: $h3Font;
	color: $main_title_text;
}
@mixin h4_font(){
	font: $h4Font;
}
@mixin h5_font(){
	font: $h5Font;
}
@mixin h6_font(){
	font: $h6Font;
}


@mixin prefixFlex($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}

@mixin backface($visibility: hidden) {
  @include prefix('backface-visibility', #{$visibility});
  -moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

@mixin visuallyHidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

@mixin transition($transition: 0.1s all) {
  @include prefix('transition', #{$transition});
}

@mixin transform($transform: 0.1s all) {
  @include prefix('transform', #{$transform});
}

@mixin abs-iconfont($font, $font-size){
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content:$font;
	font-size:$font-size;
	vertical-align: middle;
}
@mixin abs-iconfont2($font, $font-size){
	display: inline-block;
	font-family: 'CodazonFont';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content:$font;
	font-size:$font-size;	
    speak: none;
}

@mixin abs-opacity($opacity) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	opacity: $opacity; 
}

@mixin abs-borderradius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}


@mixin abs-boxshadow($value){
  box-shadow: $value;
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  -o-box-shadow: $value;
  -ms-box-shadow: $value;
}

@mixin abs-colorfont( $color, $font){
	color: $color;
	font: $font;
}
@mixin abs-style( $color, $border, $background){
	color: $color;
	border-color: $border;
	background: $background;
}
@mixin abs-allstyle( $color, $border, $background, $font){
	color: $color;
	border-color: $border;
	background: $background;
	font: $font;
}

$mediaQueryHeaderDt: px;
$mediaQueryHeaderMb: -1px;
/*============= Search Auto Complete ============*/
.search_autocomplete {
	z-index: 8889;
	list-style-type: none;   
	position: absolute;
	left: 0;
	right: 0;
	background: $main_box_background;
	top: 75px;
	margin: 0;
	border-top: 1px solid $main_box_border;
	border-bottom: 1px solid $main_box_border;
	@include abs-boxshadow($main_box_shadow);
    padding: 23px 80px 30px;
	overflow: hidden;
	li {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		border-top: 1px solid $main_box_border;
		overflow: hidden;
		&:first-child {
			border-top: none;
		}
		a {
			color: $main_title_text;
			text-decoration: none;
			font-size: 110%;
			font-weight: 600;
			&:hover {
				color: $main_hover_text;
			}
		}
		&.see-all{
			a {
				padding: 5px 0;
				display: block;
			}
		}
	}
	.title {
		float: left;
		width: calc(100% - 40px);;
		padding-left: 8px;
		white-space: nowrap;
		overflow: hidden;
		/* The text-overflow property is supported in all major browsers. */
		text-overflow: ellipsis;
		-o-text-overflow: ellipsis;
		.rtl-layout & {
			padding-left: 0px;
			padding-right: 8px;
		}
	}
	.thumbnail {
		float: left;
		display: block;
		width: 30px;  
		margin: 5px 0 5px 5px;
		padding: 0;
		text-align: center;
		overflow: hidden;
		img{
			max-width: 100%;
		}
		.rtl-layout & {
			float: right;
		}
	}
	.search-title{
		margin-bottom: 10px;
		span{
			text-transform: uppercase;
			font-weight: 600;
			font-size: 180%;
			color: $main_title_text;
			margin-right: 20px;
			.rtl-layout & {
				margin-left: 20px;
				margin-right: 0px;
			}
		}
		.see-all{
			text-transform: capitalize;
			margin-left: 15px;
			display: inline-block;
			background: #a5a5a5;
			color: #fff;
			border-radius: 3px;
			font-weight: 600;
			padding: 2px 10px;
			vertical-align: top;
			margin-top: 2px;
			text-decoration: none;
			&:hover{
				background: #000;
			}
			.rtl-layout & {
				margin-left: 0;
				margin-right: 15px;
			}
		}
	}
}

@media only screen and (min-width: px ){
	.page-header .sticky-menu.active .search_autocomplete {
		top: 55px!important;
	}
	.search_autocomplete {
		.search-wrap{
			ul{
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				margin: 0 -15px;
				li{
					padding: 0 15px;
					border: none;
					margin: 0 0 15px;
					width: 25%;
					a.d-flex{
						display: block!important;
					}
				}
			}
			.thumbnail{
				width: 80px;
				margin: 0;
			}
			.title{
				width: calc(100% - 80px);
				text-transform: uppercase;
				margin-bottom: 10px;
				padding-left: 10px;
				.rtl-layout & {
					padding-left: 0px;
					padding-right: 10px;
				}
			}
			.money{
				float: left;
				width: calc(100% - 80px);
				padding-left: 10px;
				.rtl-layout & {
					padding-left: 0px;
					padding-right: 10px;
				}
			}
		}
	}
}

@media only screen and (max-width: -1px ){
	.page-header .sticky-menu .search_autocomplete_wrapper {
		position: relative;
		.search_autocomplete {
			top: 36px!important;
			left: -10px;
			right: -10px;
		}
	}
	.search_autocomplete {
		padding: 10px;
		.mb-bottom-toolbar-wrapper & {
			top: auto!important;
			bottom: 40px;
			max-height: 450px;
			position: absolute;
			left: 0;
			right: 0;
		}
	}
}


	@media only screen and (max-width: 1025px) and (min-width: px){
		.search_autocomplete {
			.search-wrap{
				ul{
					li{
						width: 50%;
					}
				}
			}
		}
	}
