/*break points*/
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: (#{$screen-sm-min - 1});/*767px*/
$screen-sm-max: (#{$screen-md-min - 1});/*991px*/
$screen-md-max: (#{$screen-lg-min - 1});/*1199px*/

$phonedown: 			"only screen and (max-width: #{$screen-xs-min})"; /*max-width:480px*/
$phone:             	"only screen and (max-width: #{$screen-xs-max})"; /*max-width:767px*/

$tablet_vertical:       "only screen and (min-width: #{$screen-sm-min})"; /*min-width:768px*/
$tablet_horizontal:	    "only screen and (min-width: #{$screen-md-min})"; /*min-width:992*/
$tablet_vertical_down:  "only screen and (max-width: #{$screen-sm-max})"; /*max-width:991*/
$tablet_strict:     	"only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max})"; 
						/*min-width:768px max-width:1199px */
$tablet-strict_small:   "only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})"; 
						/*min-width:768 max-width:991px */
$tablet-strict_large: 	"only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
						/*min-width:992px max-width:1199px*/

$desktop:           	"only screen and (min-width: #{$screen-lg-min})"; /*min-width: 1200px*/
$desktop_down:			"only screen and (max-width: #{$screen-md-max})"; /*max-width: 1199px*/
/*================ Global | Sass Variants ================*/
$btn_default_text: ;
$btn_default_border: ;
$btn_default_background: ;
$btn_primary_text:;
$btn_primary_border: ;
$btn_primary_background: ;
$btn_normal_text: ;
$btn_normal_border: ;
$btn_normal_background: ;
$btn_hover_text: ;
$btn_hover_border: ;
$btn_hover_background: ;
$main_background:;
$main_text: ;
$main_hover_text: ;
$main_text_normal: ;
$main_text_normal2: ;
$main_title_border:;
$main_title_text: ;
$main_box_background: ;
$main_box_border: ;
$main_box_radius: ;
$main_box_shadow: ;
$main_hover_text_box: ;
$main_block_background: ;
$main_block_title_background:;
$main_block_title_text:;
$main_border:;
$main_price_text:;
$main_productname_text:;
$main_tab_background:;
$main_tab_border:;
$main_tab_hover_background:;
$main_tab_hover_border:;
$main_tab_hover_text:;
$main_tab_text:;
$main_input_background:;
$main_input_border:;
$main_input_shadow:;
$main_input_text:;

$btn_radius: ;
/*================ Global | Fonts Variants ================*/









$defaultFont: ;
$h1Font: ;
$h2Font: ;
$h3Font: ;
$h4Font: ;
$h5Font: ;
$h6Font: ;
$specialFont: ;
$noteFont: ;

/*================ Global | Sass Mixins ================*/
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1;
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}
/*=================== Function ======================*/
@mixin default_font(){
	font: $defaultFont;
}
@mixin h1_font(){
	font: $h1Font;
	color: $main_title_text;
}
@mixin h2_font(){
	font: $h2Font;
	color: $main_title_text;
}
@mixin h3_font(){
	font: $h3Font;
	color: $main_title_text;
}
@mixin h4_font(){
	font: $h4Font;
}
@mixin h5_font(){
	font: $h5Font;
}
@mixin h6_font(){
	font: $h6Font;
}

@mixin prefixFlex($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}

@mixin backface($visibility: hidden) {
  @include prefix('backface-visibility', #{$visibility});
  -moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

@mixin visuallyHidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

@mixin transition($transition: 0.1s all) {
  @include prefix('transition', #{$transition});
}

@mixin transform($transform: 0.1s all) {
  @include prefix('transform', #{$transform});
}

@mixin abs-iconfont($font, $font-size){
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	vertical-align: middle;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content:$font;
	font-size:$font-size;
	vertical-align: middle;
}
@mixin abs-iconfont2($font, $font-size){
	display: inline-block;
	font-family: 'CodazonFont';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content:$font;
	font-size:$font-size;	
    speak: none;
}

@mixin abs-opacity($opacity) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	opacity: $opacity; 
}

@mixin abs-borderradius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}


@mixin abs-boxshadow($value){
  box-shadow: $value;
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  -o-box-shadow: $value;
  -ms-box-shadow: $value;
}

@mixin abs-colorfont( $color, $font){
	color: $color;
	font: $font;
}
@mixin abs-style( $color, $border, $background){
	color: $color;
	border-color: $border;
	background: $background;
}
@mixin abs-allstyle( $color, $border, $background, $font){
	color: $color;
	border-color: $border;
	background: $background;
	font: $font;
}

/*============ Wishlist ============*/
.wishlist-content-wrapper{
	.product-items .item{
      	.product-image img{position: static;}
		.product-image .remove{
			cursor: pointer;
		}
		.qty-box{
			position: relative;
			input.qty{
				height: 25px;
				width: 100%;
				max-width: 100%!important;
				line-height: 25px;
				border:none;
				background: #fff;
				text-align: center;
				margin:0;
				padding:0 30px;
			}
			.cart-qty{
				.qty-ctl {
					.increase, .decrease {
						width: 25px;
						min-width: 25px;
						height: 24px;
						line-height: 24px;
						font-size: 0;
						margin: 0;
						text-align: center;
						border: 0;
						@include abs-borderradius(0);
						color: #000;
						border-color: #fff; 						
						background: #fff;
						display: inline-block;
						padding: 0;
						position: absolute;
						left:0;
						top:0;
						&:before{
							@include abs-iconfont2('\e9b3', 9px);
							vertical-align: middle;
						}
					}
					.increase{
						right:0;
						left: auto;
						&:before{
							content: '\e9b4';
						}
					}
				}
			}
		}
	}
}
.wishlist-content-wrapper{
  .label-wl {
  	text-transform: uppercase;
  }
  .block-top{
  	padding-bottom:10px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 10px;
  }
  .product-items{
    .item{
    	margin-bottom:10px;
      .product-image{
      	position:relative;
        img{
        	max-width: 150px;
    		width: 100%;
        }
        .remove{
       	  position: absolute;
          top: 0px;
          left: 0px;
          background: #5c6ac3;
          color:#fff;
          border: 1px solid #5c6ac3;
          width: 16px;
          height: 16px;
          text-align: center;
          line-height: 10px;
          -moz-transition: all 500ms ease;
          -webkit-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;
          -moz-backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          z-index: 1;
          font-size: 0;
    		text-indent: -999em;
          cicursor: pointer;
          &:before{
          	  display: inline-block;
              font-family: 'CodazonFont';
              font-style: normal;
              font-weight: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              content: '\e977';
              font-size: 9px;
              speak: none;
              line-height: 14px;
          }
          &:hover{
          	background: #ffffff;
    		color: #5c6ac3;
          }
        }
      }
      .product-name{
        margin-bottom:5px;
        a{
       		overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: block;
        }
      }
	  .product-options{
		  .label-header {display:none;}
	  }
      .product-price{
        margin-bottom:5px;
        .price .money {
            color: $main_price_text;
			font-weight:600;
			font-size: 138%
        }
      }
      .product-item-details .qty-box{
       	  margin: 0 0 5px;
          display: inline-block;
          width: 49%;
          input {
              font-size: 12px;
              color: #34343c;
              height: 25px;
              max-width: 60px;
              padding: 0;
              text-align: center;
              border: 0;
    		  border-bottom: 1px solid #e1e1e1;
          }
    	}
      .product-item-details .add-to-cart{
        &.disable button{cursor: no-drop;  opacity: 0.5;}
        button{
          padding: 0;
          border: 0;
          width: auto;
          height: auto;
          line-height: unset;
          margin: 0;
          min-width: auto;
          border-radius: 0;
          min-height: unset;
          background: transparent;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-box-shadow: none;
          -o-box-shadow: none;
          -ms-box-shadow: none;
          color: #282828;
          float: right;
          width: 50%;
          font-size:0;
          &:before{
              display: inline-block;
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              content: '\f07a';
              font-size: 20px;
              vertical-align: middle;
          }
        }
      }
    }
  }
}

.cdz-sidebar, .cdz-dropdown {
	.wishlist-content-wrapper .product-items .item{
	  .product-item-details{
		padding:0;
		.col-3{
			padding:0;
			    text-align: center;
		}
		.qty-box input{
			max-width:30px;
		}
		.add-to-cart button{
			float:none;
		}
		.qty-box{
			width: 100%;
		}
	  }
	}
}
@media (max-width: 767px){
	.desk-wl{display:none!important;}
}