/* ===============================================
// Screen
// =============================================== */
/*break points*/
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: (#{$screen-sm-min - 1});/*767px*/
$screen-sm-max: (#{$screen-md-min - 1});/*991px*/
$screen-md-max: (#{$screen-lg-min - 1});/*1199px*/

$phonedown: 			"only screen and (max-width: #{$screen-xs-min})"; /*max-width:480px*/
$phone:             	"only screen and (max-width: #{$screen-xs-max})"; /*max-width:767px*/

$tablet_vertical:       "only screen and (min-width: #{$screen-sm-min})"; /*min-width:768px*/
$tablet_horizontal:	    "only screen and (min-width: #{$screen-md-min})"; /*min-width:992*/
$tablet_vertical_down:  "only screen and (max-width: #{$screen-sm-max})"; /*max-width:991*/
$tablet_strict:     	"only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max})"; 
						/*min-width:768px max-width:1199px */
$tablet-strict_small:   "only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})"; 
						/*min-width:768 max-width:991px */
$tablet-strict_large: 	"only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
						/*min-width:992px max-width:1199px*/

$desktop:           	"only screen and (min-width: #{$screen-lg-min})"; /*min-width: 1200px*/
$desktop_down:			"only screen and (max-width: #{$screen-md-max})"; /*max-width: 1199px*/


/*================ Global | Sass Variants ================*/
$btn_default_text: ;
$btn_default_border: ;
$btn_default_background: ;
$btn_primary_text:;
$btn_primary_border: ;
$btn_primary_background: ;
$btn_normal_text: ;
$btn_normal_border: ;
$btn_normal_background: ;
$btn_hover_text: ;
$btn_hover_border: ;
$btn_hover_background: ;
$main_background:;
$main_text: ;
$main_hover_text: ;
$main_text_normal: ;
$main_text_normal2: ;
$main_title_border:;
$main_title_text: ;
$main_box_background: ;
$main_box_border: ;
$main_box_radius: ;
$main_box_shadow: ;
$main_hover_text_box: ;
$main_block_background: ;
$main_block_title_background:;
$main_block_title_text:;
$main_border:;
$main_price_text:;
$main_productname_text:;
$main_tab_background:;
$main_tab_border:;
$main_tab_hover_background:;
$main_tab_hover_border:;
$main_tab_hover_text:;
$main_tab_text:;
$main_input_background:;
$main_input_border:;
$main_input_shadow:;
$main_input_text:;

/*================ Global | Fonts Variants ================*/









$defaultFont: ;
$h1Font: ;
$h2Font: ;
$h3Font: ;
$h4Font: ;
$h5Font: ;
$h6Font: ;
$specialFont: ;
$noteFont: ;
@mixin default_font(){
	font: $defaultFont;
}
@mixin h1_font(){
	font: $h1Font;
	color: $main_title_text;
}
@mixin h2_font(){
	font: $h2Font;
	color: $main_title_text;
}
@mixin h3_font(){
	font: $h3Font;
	color: $main_title_text;
}
@mixin h4_font(){
	font: $h4Font;
}
@mixin h5_font(){
	font: $h5Font;
}
@mixin h6_font(){
	font: $h6Font;
}

/*================ Global | Sass Mixins ================*/
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1;
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}
/*=================== Function ======================*/
@mixin prefixFlex($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}

@mixin backface($visibility: hidden) {
  @include prefix('backface-visibility', #{$visibility});
}

@mixin visuallyHidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

@mixin transition($transition: 0.1s all) {
  @include prefix('transition', #{$transition});
}

@mixin transform($transform: 0.1s all) {
  @include prefix('transform', #{$transform});
}

@mixin abs-iconfont($font, $font-size){
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: $font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content:$font;
	font-size:$font-size;
	vertical-align: middle;
}

@mixin abs-iconfont2($font, $font-size){
	display: inline-block;
	font-family: 'CodazonFont';
	font-style: normal;
	font-weight: normal;
	line-height: $font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content:$font;
	font-size:$font-size;	
    speak: none;
}

@mixin abs-opacity($opacity) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	opacity: $opacity; 
}

@mixin abs-borderradius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}
@mixin abs-transition($_value: all 500ms ease){
	-moz-transition: $_value;
	  -webkit-transition: $_value;
	  -o-transition: $_value;
	  transition: $_value;
	  -moz-backface-visibility: hidden;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
}
@mixin abs-transform($_value: initial){
	-moz-transform: $_value;
	  -webkit-transform: $_value;
	  -o-transform: $_value;
	  transform: $_value;
}
@mixin abs-scale ($_factor) {
	-webkit-transform: scale($_factor);
	-moz-transform: 	 scale($_factor);
	-ms-transform: 		 scale($_factor);
	-o-transform: 		 scale($_factor);
}
@mixin abs-boxshadow($value){
  box-shadow: $value;
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  -o-box-shadow: $value;
  -ms-box-shadow: $value;
}

@mixin abs-colorfont( $color, $font){
	color: $color;
	font: $font;
}
@mixin abs-style( $color, $border, $background){
	color: $color;
	border-color: $border;
	background: $background;
}
@mixin abs-allstyle( $color, $border, $background, $font){
	color: $color;
	border-color: $border;
	background: $background;
	font: $font;
}

@keyframes cssload-zoom {
	0% {
		@include transform(scale(0.5, 0.5));
	}
	50% {
		@include transform(scale(1, 1));
	}
	100% {
		@include transform(scale(1.5, 1.5));
	}
}

@mixin zoom-hover-effect(){
	animation: cssload-zoom 1000ms linear infinite;
	-o-animation: cssload-zoom 1000ms linear infinite;
	-ms-animation: cssload-zoom 1000ms linear infinite;
	-webkit-animation: cssload-zoom 1000ms linear infinite;
	-moz-animation: cssload-zoom 1000ms linear infinite;
}
/* ============================================ *
 * Codazon_Blog - Page
 * ============================================ */
/*sidebar blog*/
.sidebar .block {
	.block-content{
		.blog-categories{
			padding-left: 20px;
			ul {
				padding-left: 20px;
			}
			li{
				list-style: circle;
			}	
			li a{
				margin-bottom: 5px;
				padding: 5px 0;
				display: block;
			}
		}
	}
}
.sidebar .block.block-tags{
	.block-content{
		ul.blog-tags{
			margin: 0 -10px;
			li{
				display: inline-block;
				vertical-align: top;
				margin: 0 10px;
				a{
					font-style: italic;
				}
			}
		}
		a{
      		color:$main_text;
       		&:hover{
        		color:$main_hover_text;
       		}
	        span{
				line-height: 1.35;
				font:$defaultFont;
				font-weight: 500;
				&:before{
					font-family: FontAwesome;
					margin-right:5px;
				}
	        }
      	}
	}
}
.sidebar .block.block-recent{
	.block-content{
		.item{
			padding: 10px 0;
			&:first-child{
				padding-top: 0;
			}
        	~ .item{
        		border-top: 1px dashed $main_border;
        	}
          	a{
          		color:$main_text;
	       		&:hover{
	            	color:$main_hover_text;
	            }
	        }
		}
	}
}
.blog-template .column-main{
	margin-bottom: 40px;
}
.post-view,
.post-list{
	.post-holder {
		padding: 20px;
		margin-bottom: 20px;
		@include abs-boxshadow($main_box_shadow);
  		@include abs-borderradius($main_box_radius);
		background: $main_block_background;
	}
	a{
		color: $main_text;
		&:hover{
			color: $main_hover_text;
		}
	}
}
.post-list{
	.post-info-panel{
	    height: 100%;
    	position: relative;
    	display: flex;
   		flex-direction: column;
	}
	.post-title-holder{
		.post-title {
			a{
				color: $main_productname_text;
				font-size: 120%;
				font-weight: 600;
				&:hover{
					color: $main_hover_text;
				}
			}
		}
		
		.post-date{
		    border: 2px solid $main_border;
    		padding: 5px 10px 4px;
		}
	}
	.post-info{
		overflow: hidden;
		margin: 10px -10px;
		.post-author{
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;
			&:before{
				@include abs-iconfont('\f2c0', 13px);
			}
		}
		.post-categories{
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;
			&:before{
				@include abs-iconfont('\f114', 13px);
			}
		}
		.post-tags{
			display: inline-block;
			vertical-align: top;
			margin: 0 10px;
			&:before{
				@include abs-iconfont('\f02b', 13px);
			}
		}
	}
	.post-description{
		margin-bottom: 20px;
	}
	.post-footer{
	    margin-top: auto;
		overflow: hidden;
		padding-top: 10px;
		border-top: 1px dashed $main_border;
		.post-read-more{
			float: left;
			&:after{
				@include abs-iconfont('\f178', 14px);
				margin-left: 3px;
			}
			.rtl-layout &{
				float: right;
				&:after{
					content: '\f177';
					margin-left: 0;
					margin-right: 3px;
					float: left;
				}
			}
		}
		.addthis{
			float: right;
			.rtl-layout &{
				float: left;
			}
		}
	}
	.addthis{
		min-height: 25px;
	}
}
@media #{$tablet_vertical}{
	.post-list{
		.post-title-holder{
			position: relative;
			.post-title.has-date{
				padding-right: 100px;
				float: left;
				.rtl-layout &{
					float: right;
					padding-left: 100px;
					padding-right: 0;
				}
			}
			.post-date{
	    		position: absolute;
	    		top: -4px;
	    		right: 0;
	    		.rtl-layout &{
					right: auto;
					left: 0;
				}
			}
		}
	}
}
@media #{$phone}{
	.post-list{
		.post-top{
			margin-bottom: 20px;
		}
		.post-title-holder .post-date{
			display: inline-block;
			margin: 5px 0 0;
		}
	}
	.blog-template{
		.column-main{
			order: 2;
			-moz-order: 2;
			-webkit-order: 2;
			-o-order: 2;
		}
	}
	
}
.toolbar-blog-posts{
	display: inline-block;
	text-align: center;
	width: 100%;
	padding: 10px;
	@include abs-boxshadow($main_box_shadow);
	@include abs-borderradius($main_box_radius);
	background: $main_block_background;
	.blog-pages{
		display: inline-block;
		span{
			border: 1px solid $main_border;
			color: $main_text;
			text-align: center;
		    display: inline-block;
    		vertical-align: top;
    		font-weight: 600;
    		@include abs-transition();
    		&:hover{
    			border-color: $main_hover_text;
    			background-color: $main_hover_text;
    			color: #fff;
    			a{
    				border-color: $main_hover_text;
    				background-color: $main_hover_text;
    				color: #fff;
    				text-decoration: none;
    			}
    		}
    		&.next a{
    			font-size: 0;
    			&:before{
    				@include abs-iconfont2('\e991', 16px);
    				line-height: 32px;
    			}
    			
    		}
    		&.prev a{
    			font-size: 0;
    			&:before{
    				@include abs-iconfont2('\e974', 16px);
    				line-height: 32px;
    			}
    			
    		}
		}
		span.current{
			height: 34px;
			line-height: 34px;
			width: 34px;
			border-color: $main_hover_text;
			background-color: $main_hover_text;
			color: #fff;
		}
		span a{
			height: 32px;
			line-height: 32px;
			display: inline-block;
    		width: 32px;
    		color: $main_text;
    		font-weight: 600;
		}
	}
}

.blog-template-style03{
	.post-top{
		margin-bottom: 20px;
	}
}

.blog-template-style04{
	.post-item{
		position: relative;
	}
	.post-bottom{
		position: absolute;
		width: 100%;
		padding: 20px;
		bottom:0;
		left:0;
		color: #ffffff;
		background: linear-gradient(to top,  rgba(0,0,0,0.80) 0%,rgba(0,0,0,0) 100%);
		.rtl-layout &{
			left: auto;
			right: 0;
		}
	}
	
	.post-title{
		margin-bottom: 10px;
		@include transition();
		&:hover{
			font-style:italic;
		}
	}
	.post-item-link{
		color:#ffffff;
		text-transform: uppercase;
		@include h5_font();
		&:hover{
			color: $main_hover_text;
			text-decoration: none;
		}
	}
	.post-tags,
	.post-author{
		color: #ffffff;
		a{
			color:#ffffff;
		    @include transition();	
		    &:hover{
		    	font-style:italic;
		    	color:#ffffff;
		    }
		}
	}
	.post-footer {
	    display: flex;	
		border-top: 1px solid #ffffff;
		padding-top: 10px;
	}
	.more-link{
	    color:#ffffff;
	    @include transition();	
	    &:hover{
	    	font-style:italic;
	    	color:#ffffff;
	    }
	}
	.post-date{
		margin-left: auto;
		.rtl-layout &{
			margin-left:0;
			margin-right:auto;
		}
	}
	.post-top .post-img{
		overflow: hidden;
		img{
			@include abs-transition();
		}
		&:hover{
			img{
				@include abs-transform(scale(1.1, 1.1) rotate(2deg));
			}
		}
	}
	@media #{$tablet-strict_small}{
		.post-title{min-height: unset !important;}
	}
	@media #{$phone}{
		.post-title{
			min-height: unset !important;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.post-item-link{
			
		}
		.post-footer {
			font-size: 11px
		}
	}
}

.blog-template-style05{
		.post-item{
			position: relative;
			height: 100%;
			background-color: $main_box_background;
		}
		.post-date{
			position: absolute;
			top: 10px;
			left: 10px;
			background: #ffffff;
			padding: 3px 10px;
			color: $main_title_text;
			@include abs-transition();
			&:after{
				position:absolute;
				content: '';
				border:1px solid #ffffff;
				left: 2px;
				top: -2px;
				width: 100%;
				height: 100%;
				@include transition();
				.rtl-layout &{
					left: auto;
					right: 2px;
				}
			}
			.rtl-layout &{
				left: auto;
				right: 10px;
			}
			&:hover{
				background: $btn_primary_background;
				color: $btn_primary_text;
				text-decoration: none;
				&:after{
					border-color: $btn_primary_background;
				}
			}
		}
		.post-bottom{
			padding: 20px;
			overflow: hidden
		}
		.post-img {
			overflow: hidden;
			img{
				@include abs-transition();
			}
			&:hover img{
				@include abs-transform(scale(1.1, 1.1) rotate(2deg));
			}
		}
		.post-item-link {
			@include h4_font();
			font-weight: 600;
			color: $main_productname_text;
			text-transform: uppercase;
			margin: 5px 0 10px;
			display: block;
			&:hover{
				color: $main_hover_text;
				text-decoration: none;
			}

		}
		.post-date{
			color: $main_text_normal;
			text-transform: uppercase;
			font-size: 90%;
			margin-left: auto;
			.rtl-layout &{
				margin-right: auto;
				margin-left: 0;
			}
		}
		.post-author{
			color: $main_text_normal;
			font-size: 90%;
			text-transform: uppercase;
		}
		
	}








/*Blog Post ===========================*/
.post-view{
	.page-title-wrapper .page-title{
		margin-bottom: 20px;
	}
	.post-holder{
		margin-bottom: 40px;
	}
	.post-top{
		margin-bottom: 15px;
		display: block;
	}
	.post-date{
		display: inline-block;
		vertical-align: top;
		margin: 5px 10px;
		&:before{
			@include abs-iconfont('\f017', 13px);
			vertical-align: top;
		}
	}
	.post-author{
		display: inline-block;
		vertical-align: top;
		margin: 5px 10px;
		&:before{
			@include abs-iconfont('\f2c0', 13px);
			vertical-align: top;
		}
	}
	.post-categories{
		display: inline-block;
		vertical-align: top;
		margin: 5px 10px;
		&:before{
			@include abs-iconfont('\f114', 13px);
			vertical-align: top;
		}
	}
	.post-tags{
		display: inline-block;
		vertical-align: top;
		margin: 5px 10px;
		&:before{
			@include abs-iconfont('\f02b', 13px);
		}
	}
	.post-header{
		border-bottom: 1px dashed $main_border;
		padding-bottom: 15px;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 20px;
		width: 100%;
		.post-info{
			display: inline-block;
			vertical-align: top;
			margin: 0 -10px;
		}
		.addthis{
			display: inline-block;
			vertical-align: top;
			@media #{$tablet_vertical}{
				float: right;
				.rtl-layout &{
					float: left;
				}
			}
			
		}
	}
	.post-description{
		font-size: 120%;
		p{
			font-size: 100%;
		}
		img{
			max-width: 100%;
		}
	}
	.article-comments{
		padding-top: 20px;
		border-top: 5px solid #e8e9ea;
		.title-comment{
			color: $main_title_text;
			text-transform: uppercase;
			font-weight: 600;
		}
		.small, small{
			font-size: 90%;

		}
		.note.form-success{
			background: #54d0be;
		    padding: 10px;
		    color: #fff;
		    font-size: 110%;
		    font-style: italic;
		}

		.comment{
			.small, small{
				font-size: 110%;
				color: $main_title_text;
			}
			.rte{
			    padding-top: 5px;
			    p{
			    	font-style: italic;
			    }
			}
		}
		.grid__item{
			padding-left: 0;
			label{
				color: $main_title_text;
				font-weight: 600;
			}
			input[type="text"],
			input[type="email"],
			textarea{
				border: 1px solid $main_border;
				padding: 0 10px;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $main_text;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $main_text;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $main_text;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $main_text;
				}
			}
			textarea{
				padding: 10px;
				min-height: 70px;
			}
		}
	}



	.post-nextprev{
		.next-link{
			float: right;
			.rtl-layout &{
				float: left;
			}
		}
		.prev-link{
			float: left;
			.rtl-layout &{
				float: right;
			}
		}
		.link-wrap{
			position: fixed;
			top:50%;
			z-index: 3;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
			overflow: hidden;
			padding: 10px;
			width: 30px;
			max-height:90px;
			background-color: rgba(1, 1, 1, 0.5);
			-webkit-transition: width 0.4s, background-color 0.4s;
			transition: width 0.4s, background-color 0.4s;
			-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
			transition-timing-function: cubic-bezier(0.7,0,0.3,1);
			.nextprev-link,
			.post-thumb{
				display: inline-block;
			}
			.post-thumb{
				opacity: 0;
				width: 345px;
			}
			.icon-wrap{
				font-size: 0;
				text-align: center;
				display: inline-block;
				color:#ffffff;
				position: absolute;
				height: 100%;
				top: 0;
				padding: 35px 5px;
				vertical-align: top;
			}
			.arrow-post-title {
				margin: 0 10px;
				color: #ffffff;
				font-size: 14px;
				font-weight: 500;
				display: inline-block;
				vertical-align: top;
				max-width: 210px;
				-moz-transition: all 500ms ease;
				-webkit-transition: all 500ms ease;
				-o-transition: all 500ms ease;
				transition: all 500ms ease;
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
				/*.abs-transition();
				&:hover{
					color:@main_hover_text;
				}*/
			}
			&.prev{
				left: 0;
				.rtl-layout &{
					left: auto;
					right: 0;
				}
				.icon-wrap{
					left:0;
					&:before{
						@include abs-iconfont2("\e974", 18px);
					}
				}
				.arrow-post-title{
					text-align: right;
					.rtl-layout &{
						text-align: left;
					}
				}
				.post-thumb{
					float: right;
				}
				.rtl-layout &{
					.icon-wrap{
						left:auto;
						right:0;
						&:before{
							content:"\e991"
						}
					}
					.arrow-post-title{
						text-align: left;
					}
					.post-thumb{
						float: left;
					}
				}
			}
			&.next{
				right: 0;
				.rtl-layout &{
					left: 0;
					right: auto;
				}
				.icon-wrap{
					right:0;
					&:before{
						@include abs-iconfont2("\e991", 18px);
					
					}
				}
				.post-thumb{
					.nextprev-img{
						float: left;
					}
				}
				.rtl-layout &{
					.icon-wrap{
						right:auto;
						left:0;
						&:before{
							content:"\e974";
						}
					}
				}
			}
			&:hover{
				width: 375px;
				background: #282828;
				.post-thumb{
					opacity: 1
				}
			}
		}
		.post-thumb .abs-img{
			display: inline-block;
			width: 100px;
			min-height: 70px;
			padding: 0 !important;
			vertical-align: top;
		}
	}
}

