$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: (#{$screen-sm-min - 1});
$screen-sm-max: (#{$screen-md-min - 1});
$screen-md-max: (#{$screen-lg-min - 1});
$phonedown: 			"only screen and (max-width: #{$screen-xs-min})";
$phone:             	"only screen and (max-width: #{$screen-xs-max})";
$tablet_vertical:       "only screen and (min-width: #{$screen-sm-min})";
$tablet_horizontal:	    "only screen and (min-width: #{$screen-md-min})";
$tablet_vertical_down:  "only screen and (max-width: #{$screen-sm-max})";
$tablet_strict:     	"only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-md-max})";
$tablet-strict_small:   "only screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";
$tablet-strict_large: 	"only screen and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";
$desktop:           	"only screen and (min-width: #{$screen-lg-min})";
$desktop_down:			"only screen and (max-width: #{$screen-md-max})";
$screen1400: 1400px;
$screen1300: 1300px;
$screen-laptop: 1024px;	
$spaceBoostrap: 10px;
$btn_default_text: ;
$btn_default_border: ;
$btn_default_background: ;
$btn_primary_text:;
$btn_primary_border: ;
$btn_primary_background: ;
$btn_normal_text: ;
$btn_normal_border: ;
$btn_normal_background: ;
$btn_hover_text: ;
$btn_hover_border: ;
$btn_hover_background: ;
$main_background:;
$main_text: ;
$main_hover_text: ;
$main_text_normal: ;
$main_text_normal2: ;
$main_title_border:;
$main_title_text: ;
$main_box_background: ;
$main_box_border: ;
$main_box_radius: ;
$main_box_shadow: ;
$main_hover_text_box: ;
$main_block_background: ;
$main_block_title_background:;
$main_block_title_text:;
$main_border:;
$main_price_text:;
$main_productname_text:;
$main_tab_background:;
$main_tab_border:;
$main_tab_hover_background:;
$main_tab_hover_border:;
$main_tab_hover_text:;
$main_tab_text:;
$main_input_background:;
$main_input_border:;
$main_input_shadow:;
$main_input_text:;
$btn_radius: ;









$defaultFont: ;
$h1Font: ;
$h2Font: ;
$h3Font: ;
$h4Font: ;
$h5Font: ;
$h6Font: ;
$specialFont: ;
$noteFont: ;
@mixin default_font(){
	font: $defaultFont;
}
@mixin h1_font(){
	font: $h1Font;
	color: $main_title_text;
}
@mixin h2_font(){
	font: $h2Font;
	color: $main_title_text;
}
@mixin h3_font(){
	font: $h3Font;
	color: $main_title_text;
}
@mixin h4_font(){
	font: $h4Font;
}
@mixin h5_font(){
	font: $h5Font;
}
@mixin h6_font(){
	font: $h6Font;
}
@mixin special_font(){
	font: $specialFont;
}
@mixin note_font(){
	font: $noteFont;
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1;
}
@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}
@mixin prefixFlex($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn 'Unrecognized prefix: #{$prefix}';
    }
  }
}
@mixin backface($visibility: hidden) {
  @include prefix('backface-visibility', #{$visibility});
}
@mixin visuallyHidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
@mixin transition($transition: 0.1s all) {
  @include prefix('transition', #{$transition});
}
@mixin transform($transform: 0.1s all) {
  @include prefix('transform', #{$transform});
}
@mixin abs-iconfont($font, $font-size){
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: $font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content:$font;
	font-size:$font-size;
	vertical-align: middle;
}
@mixin abs-iconfont2($font, $font-size){
	display: inline-block;
	font-family: 'CodazonFont';
	font-style: normal;
	font-weight: normal;
	line-height: $font-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
	content:$font;
	font-size:$font-size;	
    speak: none;
}
@mixin abs-opacity($opacity) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	opacity: $opacity; 
}
@mixin abs-borderradius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}
@mixin abs-transition($_value: all 500ms ease){
	-moz-transition: $_value;
	  -webkit-transition: $_value;
	  -o-transition: $_value;
	  transition: $_value;
	  -moz-backface-visibility: hidden;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
}
@mixin abs-transform($_value: initial){
	-moz-transform: $_value;
	  -webkit-transform: $_value;
	  -o-transform: $_value;
	  transform: $_value;
}
@mixin abs-scale ($_factor) {
	-webkit-transform: scale($_factor);
	-moz-transform: 	 scale($_factor);
	-ms-transform: 		 scale($_factor);
	-o-transform: 		 scale($_factor);
}
@mixin abs-boxshadow($value){
  box-shadow: $value;
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
  -o-box-shadow: $value;
  -ms-box-shadow: $value;
}
@mixin abs-colorfont( $color, $font){
	color: $color;
	font: $font;
}
@mixin abs-style( $color, $border, $background){
	color: $color;
	border-color: $border;
	background: $background;
}
@mixin abs-allstyle( $color, $border, $background, $font){
	color: $color;
	border-color: $border;
	background: $background;
	font: $font;
}
@keyframes cssload-zoom {
	0% {
		@include transform(scale(0.5, 0.5));
	}
	50% {
		@include transform(scale(1, 1));
	}
	100% {
		@include transform(scale(1.5, 1.5));
	}
}
@mixin zoom-hover-effect(){}
/*=============== Product Item ================*/
.product-item-name .product-item-link, 
.product-item-link, .product.name a{
	font:$h5Font;
  	text-decoration: none;
	color: $main_productname_text;
  &:hover{
  	color: $main_hover_text;
    text-decoration: none;
  }
}
.product-item .price {
	.money {
		color: $main_price_text;
		font:$h3Font;
	}
	.product-unit-price .money{
		color: $main_text;
		font: inherit;
	}
}
/*============== Swatch Option ===================*/
.product-option{
	padding-bottom:5px;
	.swatch{
		input[type="radio"]{
			display:none;
		}
		.swatch-element{
		  display:inline-block;
		  margin-right: 5px;
		  &.disable{
			  label{
				  cursor: no-drop!important;
				  &:before{
					 background: linear-gradient(to left top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 42%, #fff 45%, #fff 46%, #ff5216 49%, #ff5216 49%, #fff 51%, #fff 52%, rgba(255,255,255,0) 55%, rgba(255,255,255,0) 100%)!important;
					 left:0!important;
					 top:0!important;
					 width: 100%;
					 height: 100%;
					 position: absolute;
					 content: ""!important;
				  }
			  }
		  }
		  label{
			  margin:0;
			  display:block;
			  position: relative;
			  overflow: hidden;
			  cursor: pointer;
		  }
		}
		&.swatch-color{
		  .swatch-element label{
			width: 20px;
			height: 20px;
			overflow: hidden;
			display: block;
		  }
		}
		&.swatch-text{
		   .swatch-element {
			   label{
				display: block;
				border:1px solid #e9eaec;
				background:#fff;
				font-size:12px;
				padding: 2px 6px;
				min-width: 22px;
				//@include abs-borderradius(30px);
			   }
				&:hover label{
					cursor: pointer;
				}
				&.selected label, &:hover label{
					border-color: $btn_primary_border;
					background: $btn_primary_background;
					color: $btn_primary_text
				}
				 &.disable:hover label{
					border-color: #e9eaec!important;
					background: #fff!important;
					color: $main_text!important;
				}
		   }
		}
	}
	.selector-wrapper{
		input[type="radio"] {
			display: none;
		}
	}
}
.swatch{
	.swatch-element{
		font-size:100%;
		label{
			font-size:100%;
		}
	}
	&.swatch-image{
		.swatch-element{
			//@include abs-borderradius(100%);
			font-size:0;
			label{
				//@include abs-borderradius(100%);
				font-size:0;
				position:relative;
				display:block;
				width: 22px;
				height: 22px;
				border: 1px solid transparent;
				box-shadow: 1px 1px 4px #dfdfdf;
				text-indent: -999em;
				text-align: center;
				a{
					width: 100%; height: 100%;
				}
				img{
					height: 100%;
				}
			}
			&.selected label{
				&:after{
					@include abs-iconfont("\f00c", 12px);
					text-shadow: 1px 1px 3px #a0a0a0;
					position: absolute;
					left: 4px;
					top: 4px;
					color:#fff;
				 }
				 &:before{
					background-color: #0000003d; 
					position: absolute;
					left: 0px;
					top: 0px;
					width: 100%;
					height: 100%;
					content: "";
				 }
			}
		}
	}
	&.swatch-color{
		.swatch-element{
			//@include abs-borderradius(100%);
			font-size:0;
			label{
				//@include abs-borderradius(100%);
				font-size:0;
				position:relative;
				display:block;
				width: 20px;
				height: 20px;
				border: 1px solid transparent;
				box-shadow: 1px 1px 4px #dfdfdf;
				text-indent: -999em;
				a{
					width: 100%; height: 100%;
				}
			}
			&.selected label{
				&:before{
					@include abs-iconfont("\f00c", 12px);
					text-shadow: 1px 1px 3px #a0a0a0;
					position: absolute;
					left: 3px;
					top: 3px;
					color:#fff;
				 }
			}
		}
	}
}
$qs: 38px;

$border-bottom-color-darken: ;


/*=== CDZ grid Style ===*/
@mixin zoom-hover-effect(){}
$qs: 38px;

$border-bottom-color-darken: ;
/* =====  product grid style =====*/
.products.product-items{
	clear:both;
  ul.flex-grid{
  	display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;
    padding: 0;
    margin: 0;
	.product-miniature{
		height:auto;
		-moz-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		.cdz-categorypage & {
			margin-bottom: 20px;
		}
	}
  }
  .product-item{
	  .product-item-top {
		margin-bottom: 10px;
		position: relative;
	  }
	  .qs-button {
			color: $btn_primary_text;
			border: 1px solid $btn_primary_border;
			background: $btn_primary_background;
			&:hover{
				color: $btn_primary_background;
				border-color: $btn_primary_border;
				background: $btn_primary_text;
			}
		}
	  .actions-secondary {
			>.action{
				&.is-actived {
					color: #fc7070!important;
					&:hover {
						cursor: default!important;
						color: #fc7070!important;
						animation: none!important;
						-o-animation: none!important;
						-ms-animation: none!important;
						-webkit-animation: none!important;
						-moz-animation: none!important;
					}				   
				}
			}
		}
	  .product-item-bottom {
		  .product-item-name {
			-moz-hyphens: auto;
			-ms-hyphens: auto;
			-webkit-hyphens: auto;
			display: block;
			hyphens: auto;
			margin: 5px 0;
			word-wrap: break-word;			
		}
		.actions-secondary .action.towishlist.is-actived{
			color: #fc7070;
		}
		.product-sku, .product-vendor, .product-reviews-summary span.spr-badge, .product-price, .product-item-description{margin-bottom:5px;}
		.price-box{margin-bottom:5px;}
		.product-sku{
			text-transform: uppercase;
			color: $main_text_normal;
		}
		.qty-box {
			margin-bottom:10px;
			.cart-qty{
				display: inline-block;
				position: relative;
				border-bottom: 1px solid $main_border;
			}
			input.qty{
				height: 31px;
				width: 90px;
				max-width: 150px;
				line-height: 30px;
				border:none;
				background: #fff;
				text-align: center;
				margin:0;
				padding:0 30px;
			}
			.cart-qty .qty-ctl {
				.increase, .decrease {
					width: 25px;
					min-width: 25px;
					height: 31px;
					line-height: 31px;
					font-size: 0;
					margin: 0;
					text-align: center;
					border: 0;
					@include abs-borderradius(0);
					color: #000;
					border-color: #fff;
					background: #fff;
					display: inline-block;
					padding: 0;
					position: absolute;
					left:0;
					top:0;
					&:before{
						@include abs-iconfont2('\e9b3', 9px);
						vertical-align: middle;
					}
					.rtl-layout & {
						left: auto;
						right: 0;
					}
				}
				.increase{
					right:0;
					left: auto;
					.rtl-layout & {
						left: 0;
						right: auto;
					}
					&:before{
						content: '\e9b4';
					}
				}
			}
		}
		.product-options{
			.label-header {
				display:none;
			}
		}
	  }
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
}

@media only screen and (min-width: 768px){
.products.product-items{
	
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
}


@media only screen and (max-width: 767px){
	.products.product-items{
    	
		
		
		
		
		
		
		
	}
	.product-item .qs-button{
		display: none!important;
	}
}


/*Product hover slide image effect*/
@mixin abs-product-hover-img-slide(){
	.product-image-photo{
		@include transition(all 500ms ease);
		&.hovered-img{
			@include abs-opacity(0);
		}
		&.hovered-img{
			@include abs-transform(translateX(100%));
			.rtl-layout &{
				@include abs-transform(translateX(-100%));
			}
		}
	}
	&:hover{
		.product-image-photo{
			&.main-img{
				@include abs-transform(translateX(-100%));
				@include abs-opacity(0);
				.rtl-layout &{
					@include abs-transform(translateX(100%));
				}
			}
			&.hovered-img{
				@include abs-opacity(1);
				@include abs-transform(translateX(0));
				.rtl-layout &{
					@include abs-transform(translateX(0));
				}
			}
		}
	}
}
.product-items .product-image-container{
    display: inline-block;
    width: 100%;
	vertical-align: top;
}

.product-items .product-image-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.product-items .product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.product-items .product-item-photo{
	@include abs-product-hover-img-slide();
}
/*Product List*/
.product-reviews-summary{
	a{
		color: $main_text;
		&:hover{
			text-decoration: none;
			color: $main_title_text;
		}
	}
	.spr-badge-starrating .spr-icon{
		font-size: 12px;
		
	}
	.spr-badge-starrating,
	.spr-icon-star{
		color: #f9c400;
	}
	.review-empty{
		.spr-badge-starrating,
		.spr-icon-star-empty{
			color: #a8aeba;
		}
	}
	.spr-badge-caption{
		color: $main_productname_text;
		text-transform: uppercase;
		font-size: 11px;
	}
	.spr-badge-caption{
		display: none;
	}
	.review-count,
	.spr-badge{
		display: inline-block;
		vertical-align: top;
		margin-bottom: 5px;
	}
}



