{%- layout none -%}
<a class="cart-trigger cdz-top-link" href="javascript:void(0);"  data-role="cdz-sidebar-trigger" data-action="cdz-addMiniCart-trigger"  data-sidebar="utilies-addMiniCart">
	<i class="fa fa-shopping-cart"></i>
	<span class="items-total">{{ cart.item_count }}</span>
</a>
{%- if settings.ajaxCartStyle != '03'-%}
	<div data-role="utilies-section" class="utilies-section utilies-addMiniCart" id="utilies-addMiniCart" data-cdzwidget='{"codazon.sideBar" : {"side" : "right", "section" : "addMiniCart"}}'>
		{% include 'sidebar-addMiniCart'%}
	 </div>
{%- endif -%}