<div class="main-container col1-layout faq-page">
  <div class="main">
    <div class="container col-main-containter">
      <div class="row">
        <div class="col-main col-12">
          <div class="col-wrapper-main cdzbox">
            <div class="section-header text-center">
              <h1>{{ page.title }}</h1>
            </div>
            <div class="rte std">
              {{ page.content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- style -%}
    .faq-page .card {
         border: none;
    }
     .faq-page .card-header {
         padding: 0;
         border: none;
    }
     .faq-page .card-header button {
         background-color: #fff;
         border: solid 1px #eaeaea;
         border-width: 1px 0;
         width: 100%;
         text-align: inherit;
         padding: 15px 10px;
         -webkit-border-radius: 0;
         -moz-border-radius: 0;
         border-radius: 0;
         text-decoration: none;
         text-transform: none;
         margin-bottom: -1px;
         font-size: 120%;
         position: relative;
    }
     .faq-page .card-header button:before {
         display: inline-block;
         font-family: FontAwesome;
         font-style: normal;
         font-weight: normal;
         line-height: 18px;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         content: "\f0da";
         font-size: 18px;
         vertical-align: middle;
         padding: 0 10px;
         -webkit-transition: all 500ms ease;
         -moz-transition: all 500ms ease;
         -ms-transition: all 500ms ease;
         -o-transition: all 500ms ease;
         transition: all 500ms ease;
    }
     .rtl-layout .faq-page .card-header button:before {
         content: "\f0d9";
    }
     .faq-page .card-header button:after {
         content: "";
         position: absolute;
         left: 0;
         width: 7px;
         top: -1px;
         bottom: -1px;
         background: transparent;
    }
     .rtl-layout .faq-page .card-header button:after {
         left: auto;
         right: 0;
    }
     .faq-page .card-header button:hover, .faq-page .card-header button:not(.collapsed) {
         background: #f5f5f5;
    }
     .faq-page .card-header button:hover:before, .faq-page .card-header button:not(.collapsed):before {
         -webkit-transform: rotate(90deg);
         -ms-transform: rotate(90deg);
         transform: rotate(90deg);
    }
     .rtl-layout .faq-page .card-header button:hover:before, .rtl-layout .faq-page .card-header button:not(.collapsed):before {
         -webkit-transform: rotate(-90deg);
         -ms-transform: rotate(-90deg);
         transform: rotate(-90deg);
    }
{%- endstyle -%}