{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}
<div class="container">
	<div class="product-template-style04">
		{% section 'product-template-style04'%}
	</div>
</div>
